<section>
    
 <div class="imagens">
       <img src="../../../assets/img/videolego.gif" alt="Gif do lego sendo montado">
       <img src="../../../assets/img/404.png" alt="Imagem 404">
       <h1>Not Found</h1>
       <br><br>
       <h3>
           *Esta página não foi encontrada. Por gentileza, clique em voltar ou acesse o link para Fábrica de Lego*
        </h3>
   </div>
   <div class="alinhamentoButton">
       <a href=""><button class="button">Voltar</button></a> 
       <a href="https://www.youtube.com/watch?v=Iwm75WvHzvo"><button class="button">Ir para Fábrica de Lego</button></a>
       
   </div>
    
</section>

