:host {
    display: flex;
    justify-content: center;
    margin: 180px 0px
  
}

.img-404 {
    max-width: 400%;
    
}


h1 {
    font-size: 30px;
    font-family: Verdana, Tahoma, sans-serif;
    font-style:oblique;
    
}