
<body>
<section>
    <div class="imgBackground">
</div>

   <div class="giflego">
       <img src="../../../assets/img/videolego.gif" alt="Gif do lego sendo montado">
       
   </div>
 
    <div class="img404">
        <img src="../../../assets/img/404.png" alt="Imagem 404">
    </div>

   <h1>NOT FOUND</h1>
   
   <div>
       <button class="button">Voltar</button>
       <a class="link" href="https://www.youtube.com/watch?v=Iwm75WvHzvo">Ir para Fábrica de Lego</a>
    </div>

</section>
  
</body>  
