body {
   display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/img/ImagemFundoTransparente.png');
    
}

.imagens {
    max-width: 100%;
}

img {
    width: 400px;
}

h1 {
display:flex;
justify-content: center;
font-size: 100px;
font-family: Arial;
font-weight: bolder;
font-style: italic;
color: darkgreen;

}

h3 {
    display: flex;
    font-family: Arial;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
}

.button {
    display:inline-block;
    
    background-color: #057a32;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    
}

.alinhamentoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0, 15px;
}


